<!DOCTYPE html>
<h1>Options</h1>
<header>
  <script src = "https://code.jquery.com/jquery-3.6.0.js"></script>

</header>
<form id = "Paramform"method = "POST"> 
  <ul id = "Paramselect">
    {{range . }}
      <div><label for="{{.Id}}">{{.Name}}</label></div>
     <select name="{{.Id}}" id = "{{.Id}}" EnableViewState = true><li>Select the filtered attributes of {{.Name}}</li>
      
      {{range .Codes}}  
        <option value = "{{.Id}}" class = "recordOption"><li>{{.Name}}</li></option>
      {{end}}
      </select>
    {{end}}
  </ul>
  <button id="Submit">Submit Form</button> 
</form> 

